<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jnhyxx.html5">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <!-- Dangerous permissions -->
    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Phone -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Share related -->
        <!-- sina weibo callback -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- wechat callback -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- service -->
        <service android:name=".service.DownloadService"/>

        <!-- dialog activity -->
        <activity
            android:name=".activity.dialog.SaveImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme.NoTitle"/>
        <activity
            android:name=".activity.dialog.MessageDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme.NoTitle"/>

        <!-- account activity -->
        <activity
            android:name=".activity.account.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.SignInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.FindPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.ModifyPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.WithdrawActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.NameVerifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.BankcardBindingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.FundDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.MessageCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.order.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.TradeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.order.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.MessageCenterListItemInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.setting.ModifyNickNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.ExpandMakeMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.TradeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.setting.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.WithdrawRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.account.WithdrawRecordInfoActivity"
            android:screenOrientation="portrait"/>

        <!-- WebView activity -->
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.PaidToPromoteActivity"
            android:screenOrientation="portrait"/>

        <!-- Receiver for getui push -->
        <receiver
            android:name=".receiver.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>