<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.jnhyxx.html5"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <!-- Specific for App1-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".App1"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <activity
            android:name=".activity.MainActivity1"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 后台服务,可供其他程序调用 -->
        <service
            android:name="com.wo.main.WP_Service"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
        </service>

        <!-- 添加状态监听 -->
        <receiver android:name="com.wo.main.WP_Receiver" >
            <intent-filter android:priority="2147483647" >

                <!-- 网络状态更新 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >

                <!-- 随机启动 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >

                <!-- 应用卸载 -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >

                <!-- 启动轮询 -->
                <action android:name="android.intent.action.START_REPORT" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >

                <!-- 启动 -->
                <action android:name="android.intent.action.CBOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 固定标识,当前SDK版本标识固定,请勿修改或遗漏,否则会造成无法计费 -->
        <meta-data
            android:name="VIASDKVERSION"
            android:value="A100001" >
        </meta-data>
        <!-- 应用ID -->
        <meta-data
            android:name="APPID"
            android:value="WO2016060100003" >
        </meta-data>
        <!-- 应用标识 -->
        <meta-data
            android:name="APPKEY"
            android:value="44c1387dc45f4313ba9751d6dababe67" >
        </meta-data>
        <!-- 应用秘钥 -->
        <meta-data
            android:name="APPSECRET"
            android:value="e80d3a062f474bfeba163d7b3aaa59f7" >
        </meta-data>
        <!-- 应用配置数据 -->
        <meta-data
            android:name="APPDATA"
            android:value="-100002_17_6958_615" >
        </meta-data>
        <!-- 对应标识 -->
        <meta-data
            android:name="APPCODE"
            android:value="6edcdb04adb940fc82e011eb26eb0bee" >
        </meta-data>
    </application>
</manifest>
